body {
	margin-left: 50px;
	color:#b5540e;
}
h1, h4, h5, h6 {
  color:#E1E1E1;

}
div.homeworktext {
	padding-left: 0px;
	color:#b5540e;
}
h2 {
	color:#C40000;
}
#btninfo2 {
	margin-bottom: 8px;
}
h3 {
	color:#b5540e;
}
#letterlink {
	background:none;
	border:none;
}
