body {
	margin-left: 50px;
	color:#059E0A;
}
h1, h3, h4, h5, h6 {
  color:#F7F7F7;

}
div.homeworktext {
	padding-left: 0px;
	color:#059E0A;
}
h2 {
	color:#C40000;
}
#btninfo2 {
	margin-bottom: 8px;
}
